{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $wordCount := .WordCount }}
{{- $wordLabel := "" }}
{{- if eq $.Lang "zh" }}
  {{- if eq $wordCount 1 }}
    {{- $wordLabel = "1 字" }}
  {{- else }}
    {{- $wordLabel = (printf "%d 字" $wordCount) }}
  {{- end }}
{{- else }}
  {{- if eq $wordCount 1 }}
    {{- $wordLabel = "1 word" }}
  {{- else }}
    {{- $wordLabel = (printf "%d words" $wordCount) }}
  {{- end }}
{{- end }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" $wordLabel)) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
